/* YUI Fonts (http://developer.yahoo.com/yui/fonts/) portable sizes:

  px  %
  ==  ====
  10  77
  11  85
  12  93
  13  100
  14  108
  15  116
  16  123.1
  17  131
  18  138.5
  19  146.5
  20  153.9
  21  161.6
  22  167
  23  174
  25  189
  26  197
*/

body {
	background-color: #FFFFEE;
	margin: 30px 40px 40px 40px;
	color: black;
	font-family:
		"Georgia",
		"Luxi Serif",
		"New Century Schoolbook",
		"Times New Roman",
		"Times",
		serif;
	font-size: 100%;
}

A:link { color: #7d2e01; background-color: inherit; }
A:visited { color: #491e00; background-color: inherit; }
A:hover { color: black; background-color: inherit; } /* temporary; fix open <a> tags! */
A:active { color: #da7417; background-color: inherit; }

h1, h2, h3 {
	color: #501000;
	font-family:
		"verdana",
		"luxi sans",
		"helvetica narrow",
		"arial condensed",
		"arial",
		"univers",
		sans-serif;
	font-weight: bold;
}

h1 { font-size: 138.5%; }
h2 { font-size: 123.1%; }
h3 { font-size: 100%; }

p {
	margin-left:20px;
  	line-height:150%;
}

img {
	max-width:700px;
}

li{
	margin-bottom: 8px;
}

.title {
	display:none;
}

.sub-title {
	margin:0;
	padding:0;
	padding-bottom:20px;
	color:#7d2e01;
	font-family:
		"wide latin",
		"luxi sans",
		"helvetica narrow",
		"arial condensed",
		"arial",
		"univers",
		sans-serif;
	letter-spacing:1px;
}

#download {
	margin: 20px;
	width:550px;
	text-align:center;
}

#download p {
	text-align: center;
	font-size:85%;
}
#download table {
	width: 100%;
	margin: 20px 0px;
	text-align: center;
}

div.box {
    overflow: visible;
    border:1px dashed #B4B4B4;
    -moz-border-radius: 5px;     
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}